.howToCard
{
    @include pageMargin;
    width: 85%;
    height: 75px;
    background-color: $restaurant-color;
    display:flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: $card-shadow;
    margin-bottom: 25px;
    &__number
    {
        background-color: $primary-color;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 12.5px;
        @include itemCenter;
        position: relative;
        right:12.5px;
    }
    &__icon
    {
        color: grey;
        margin-right: 30px;
        margin-left: 10px;
        font-size: 1.1rem;
    }
    &__txt
    {   
        font-weight: bold;
    }
}