.menuCard
{
    background-color: white;
    box-shadow: $card-shadow;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__title
    {
        margin-left: $cardMargin;
        
    }
    &__dscrptn
    {
        margin-left: $cardMargin;
        margin-right: $cardMargin;
        display: flex;
        justify-content: space-between;
        p 
        {
            font-size: 0.9rem;
        }
        &__price
        {
            font-weight: bolder;
        }
    }
}