.restaurantCard
{
    @include pageMargin;
    margin-bottom: 20px;
    @include restauCards;
    display: flex;
    flex-direction: column;
    &__img
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        @include imgRestauCards;
    }
    &__blckTxt
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pageMargin;
        margin-top: 17px;
    }
    .newCard
    {
        position: relative;
    }
    .newCard::after
    {
        content: 'Nouveau';
        position: absolute;
        top: -160px;
        right:15px;
        @include newCard;
    }
    &__blckTxt__icon
    {
        font-size: 1.8rem;
    }
}