.menusPart
{
    position: absolute;
    top: 280px;
    width: 100%;
    height: 1200px;
    background-color: $restaurant-color;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .menuTitle
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 88%;
        position: relative;
        @include pageMargin;
        @include titleMargin;
        &__icon
        {
            position: relative;
            font-size: 1.8rem;
            &:hover
            {
                .fa-empty
                {
                    opacity: 0;
                    transition: 0.7s;
                }
                .fa-gradiant
                {
                    opacity: 1;
                    transition: 0.7s;
                }
            }
            .fa-empty
            {
                opacity: 1;
            }
            .fa-gradiant
            {
                position: absolute;
                left: 0;
                top: 2px;
                opacity: 0;
                background:$card-gradiant;
                -webkit-background-clip:text;
                background-clip:text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    
    .menuStarter
    {
        width: 90%;
        @include pageMargin;
        margin-bottom: $dishMargin;
        &__title
        {
            position: relative;
            padding-bottom: 5px;
            margin-bottom: $dishTitleMargin;
        }
        &__title::after
        {
            content: '';
            position: absolute;
            left:0;
            top: 25px;
            background: $tertiary-color;
            width: 40px;
            height: 3px;
        }
    }
    .menuCourse
    {
        width: 90%;
        @include pageMargin;
        margin-bottom: $dishMargin;
        &__title
        {
            position: relative;
            padding-bottom: 5px;
            margin-bottom: $dishTitleMargin;
        }
        &__title::after
        {
            content: '';
            position: absolute;
            left:0;
            top: 25px;
            background: $tertiary-color;
            width: 40px;
            height: 3px;
        }
    }
    .menuDessert
    {
        width: 90%;
        @include pageMargin;
        margin-bottom: $dishMargin;
        &__title
        {
            position: relative;
            padding-bottom: 5px;
            margin-bottom: $dishTitleMargin;
        }
        &__title::after
        {
            content: '';
            position: absolute;
            left:0;
            top: 25px;
            background: $tertiary-color;
            width: 40px;
            height: 3px;
        }
    }
    .exploreCard
    {
        margin-top: 20px;
    }
}