.trailerPage
{
    background-color: $footer-color;
    color: white;

    .trailerTitle
    {
        @include pageMargin;
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: 25px;
        margin-bottom:15px;
    }
    .trailerMentions
    {
        font-size: $paragraph-size;
        @include pageMargin;
        list-style-type : none;
        &__element
        {
            margin-bottom: 5px;
        }
        i 
        {
            margin-right: 10px;
        }
    }
    @include screen-desktop
    {
        .trailerTitle
        {
            margin-right: 50%;
            margin-left: 50%;
            font-size: 1.4rem;
        }
        .trailerMentions
        {
            display: flex;
            justify-content: space-between;
            @include desktopMargin;
            margin-top: 30px;
        }
    }
}