/*Colors*/
$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;
$footer-color: #353535;
$restaurant-color: #f6f6f6;

/*font sizes*/
$mainTitle-size:1.8rem;
$secTitle-size:1.15rem;
$paragraph-size:1.1rem;