.gridContainer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 63px 335px 450px 1225px 200px;
    grid-template-areas:
    "topPage"
    "reserveSection"
    "howToSection"
    "restaurantSection"
    "trailerPage" 
    ;
}